/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64d9fe5b-3f8b-4980-b987-36cd43fe314f/dg9hc2n-30e65e10-016a-4e29-a641-d6c990f93dbd.png/v1/fill/w_1199,h_667,q_70,strp/namek_by_devinda2099_dg9hc2n-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzEyIiwicGF0aCI6IlwvZlwvNjRkOWZlNWItM2Y4Yi00OTgwLWI5ODctMzZjZDQzZmUzMTRmXC9kZzloYzJuLTMwZTY1ZTEwLTAxNmEtNGUyOS1hNjQxLWQ2Yzk5MGY5M2RiZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.kislrS7Id07DReS81HC9iSQnwW9186aLFeCHPrZbm_Y");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/* Header Styles */
header {
  color: black;
  width: 100%;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Form Styles */
form {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  margin: 20px auto; /* Center the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align form content to the left */
}

form label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  width: 100%; /* Ensure label takes full width */
}

form input {
  width: 100%; /* Make input take full width of the form */
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

form > #submit {
  box-sizing: border-box;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start; /* Align button to the left */
  width: auto; /* Make button less wide */
}

/* Question Styles */
h2 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

p {
  text-align: center;
  width: 100%;
}

button {
  color: black;
  padding: 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c4c4c4;
}

.artwork {
  text-align: center;
  margin-top: 20px;
}

.artwork img {
  max-width: 30%;
  border-radius: 10px;
}

.artwork p {
  margin: 5px 0;
  text-align: center;
}

.link-container {
  margin: 10px 0;
  display: inline-block;
  padding: 10px;
}

.link-container a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2em;
}

.link-container a:hover {
  color: #0056b3;
}

img {
  max-width: 15%;
  max-height: 15%;
}